/* Base */
*{
    transition: .4s;
}
h1{
    font-size: 3em;
    font-weight: bold;
    margin-top: 10rem;
    margin-bottom: 2rem;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
strong{
    color: #067790;
}

em{
    font-style: normal;
    color: #067790;
}
h2{
    color: #067790;
    font-weight: 400;
}
.h1{
    font-size: 5rem;
}
.btn-primary{
    background-color: #067790;
}
.bold{
    font-weight: bold;
}


/* Navbar */
.navbar{
    height: 80px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-brand img{
    height: 70px;
}

.nav-item{
    color: #067790;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}


.btn_c{
    font-weight: bold;
    border: 2px solid #067790;
    padding: 7px 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #067790;
}

.btn_c:hover{
    font-weight: bold;
    border: 2px solid #067790;
    color: white;
    background-color: #067790;
}



/* Nav responsive */
.dropdown-item{
    font-weight: bold;
}
/* .dropdown-item:hover {
    background-color: #067790;
    color: white;

    } */
    .navbar-collapse {
        background-color: white;
        margin-top: -10px;
    }


    /* Header */
    .lp_header{
        height: 36rem;
        margin-top: 80px;
    }
    .svg-shape {
        height: 36rem;
        width: 15.003rem;
    }
    .bg-contain{
        background-color: #fff;
    }
    .bg-header{
        background: #2c3e50;
        /*     background-size: contain;*/
    }

    .text-header{
        padding-left: 5rem;
        text-align: left;
    }


    /* Catchphrase */
    .list-group{
     flex-direction: row;
 }
 .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.grid3img{
    height: 150px;
    margin:  0 auto;
}

.tab-content>.active {
    display: flex;
}

/* Simulateur */
.centrer-bloc{
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.centrer-bloc div{
    line-height: 1.2;
    padding-top: 10px;
    font-size: 0.9rem;
    margin-left: 5px;
}
.euro{
    font-weight: bold;
    font-size: 2rem;
}

.before_siminv{
    padding-top: 40px;
    margin-right: 5px;
}


/* Footer */
.footer-copyright{
    background-color: #2c3e50;
    color: white;
}


.none-on-high{
    display: none;
}



.card{
    margin-bottom: 50px;
}
.card .lire{
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    font-weight: bold;
}

.link-article:hover img{
    opacity: .2;
}
.link-article:hover .lire{
    opacity: 1;

}

.header-log{
    min-height: 100vh;
    text-align: center;
    /*     background: #2c3e50; */
    background-color: #ecf0f1;

}



.header-log h1{
    margin-top: 7.5rem;
    color: white;

}


.logbox{
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 2px black;
    margin-bottom: 30px;

}

.bloc{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}


.header-standard{
    color: white;
    text-align: center;
    height: 400px;
    background: #2c3e50;
}

.header-standard h1{
    margin-top: 13rem;
}


label{
    color: black;
    font-weight: bold;
}
.btn{
    padding-left: 40px;
    padding-right: 40px;
}

.nomarg{
    margin: 0;
}


.step{
    padding:  5px 10px 5px 10px;
    border: 1px solid black;
}
.s-active{
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}
.s-ex-active{
    background-color: #2c3e50;
    color: white;
    opacity: 0.6;
}

.s-active-title{
    border: 1px solid #2c3e50;
}

.descPJ{
    font-size: 0.8em;
}




.header{
    min-height: 100vh;
}



.header h1{
    margin-top: 7.5rem;
    text-align: center;

}

.bloc-gauche{
    box-shadow: 0 0 1px #AAA;
    background-color: #fff;
    max-height: 600px;
    padding: 10px;
}
.bloc-droite{
    box-shadow: 0 0 1px #AAA;
    background-color: #fff;
    height: 150px;
    margin-bottom: 25px;
}
.sous-bloc{
    height: 100px;
}

.sous-bloc img{
    float: left;
}

.greybg{
    background-color: #ecf0f1;
}
.bloc-document{
    box-shadow: 0 0 1px #AAA;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 10px;
}


/* MAP */
.mapFrame {
    width: 100%;
    height: 75vh;
}


/* Responsive */
@media (max-width: 768px) {
    .lp_header {
        margin-top: 30px;
        margin-bottom: -160px;
    }
    .bg-contain{
        text-align: center;
        background-color: #2c3e50;
    }
    .text-header {
        padding-left: 0;
        text-align: center;
        color:  white;
    }
    .bg-contain p{
        margin-bottom: 5rem;
    }
    .none-on-high{
        display: block;
    }

    .none-on-low{
        display: none;
    }
    .dropdown-menu {
        border:  0;
    }

    .dropdown-item{
        background-color: inherit;
        color: inherit;
    }
}

@media (max-width: 400px) {
    .lp_header {
        /* C'est moche mais bon */
        margin-bottom: -120px;
    }
}