<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body>
   <!-- NAVBAR -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="index.html">
        <img src="img/QSP.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    À Propos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="actualites.html">Actualités</a>
                    <a class="dropdown-item" href="qui-sommes-nous.html">Qui sommes-nous ?</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="faq.html">F.A.Q.</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="contact.html">Nous contacter</a>
            </li>

            <li class="nav-item none-on-high">
                <a class="nav-link" href="inscription.html">S'inscrire</a>
            </li>
            <li class="nav-item none-on-high">
                <a class="nav-link" href="connexion.html">Se connecter</a>
            </li>
        </ul>
        <div class="right none-on-low">
            <a class="btn_c" href="inscription.html">S'inscrire</a>
            <a class="btn_c" href="connexion.html">Se connecter</a>
        </div>
    </div>
</nav>


<!-- HEADER -->

<div class="container-fluid header-log">
    <div class="row ">
        <div class="col-sm-12">
            <h1>Connexion</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" logbox bg-white">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6 text-left">
                        <label for="inputLabel">Email</label>
                        <input type="email" class="form-control" id="inputLabelEmail" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6 text-left">
                      <label for="inputLabelPassword">Mot de passe</label>
                      <input type="password" class="form-control" id="inputLabelPassword" placeholder="Mot de passe">
                  </div>
              </div>

              <div class="form-row">
                <div class="col-sm-8 text-left">
                    <div class="form-check form-check-inline ">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Rester connecté pour une semaine</label>
                  </div>                      </div>
                  <div class="col-sm-4 text-right">
                    <a href="dashboard.html"><button type="submit" class="btn btn-primary">Se connecter</button></a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="logbox bg-white text-center">
            <div class="col-sm-12 text-center">
                <p>Vous n'avez pas encore de compte ? </p>
                <a href="inscription.html"><button type="submit" class="btn btn-primary">S'inscrire</button></a>
            </div>
        </div>
    </div>
</div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>