<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body class="greybg">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index.html">
            <img src="../img/QSP.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="index.html">Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Mes documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Portefeuille</a>
                </li>

                <li class="nav-item none-on-high">
                    <a class="nav-link" href="documents.html">Déconnexion</a>
                </li>

            </ul>
            <div class="right none-on-low">
                <a class="btn_c" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nom Prénom</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../index.html">Déconnexion</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container header">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Mes documents</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="bloc-document">
                    <img src="" alt=""> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ullam error nam velit saepe ipsa? Amet illo, saepe enim eius consequuntur repudiandae deleniti facere dolores odit? Ex sit numquam deserunt.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bloc-document">
                    <img src="" alt=""> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ullam error nam velit saepe ipsa? Amet illo, saepe enim eius consequuntur repudiandae deleniti facere dolores odit? Ex sit numquam deserunt.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bloc-document">
                    <img src="" alt=""> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ullam error nam velit saepe ipsa? Amet illo, saepe enim eius consequuntur repudiandae deleniti facere dolores odit? Ex sit numquam deserunt.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bloc-document">
                    <img src="" alt=""> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ullam error nam velit saepe ipsa? Amet illo, saepe enim eius consequuntur repudiandae deleniti facere dolores odit? Ex sit numquam deserunt.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bloc-document">
                    <img src="" alt=""> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ullam error nam velit saepe ipsa? Amet illo, saepe enim eius consequuntur repudiandae deleniti facere dolores odit? Ex sit numquam deserunt.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bloc-document">
                    <img src="" alt=""> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ullam error nam velit saepe ipsa? Amet illo, saepe enim eius consequuntur repudiandae deleniti facere dolores odit? Ex sit numquam deserunt.</p>
                </div>
            </div>

        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 mt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> QSP</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>