{% extends 'corps.html.twig' %}

{% block body %}

{% trans_default_domain 'FOSUserBundle' %}

    <div class="container-fluid header-log">
        <div class="row ">
            <div class="col-sm-12">
                <h1>Inscription</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="logbox bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="cardcollapse" data-toggle="collapse" href="#collaspeInv" role="button" aria-expanded="false" aria-controls="collaspeInv">
                                <div class="card nomarg invcard">
                                    <div class="card-body">
                                        <h5 class="card-title">Je veux être investisseur</h5>
                                        <p class="card-text">Je souhaite investir.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a class="cardcollapse" data-toggle="collapse" href="#collaspeLoc" role="button" aria-expanded="false" aria-controls="collaspeLoc">
                                <div class="card nomarg loccard">
                                    <div class="card-body">
                                        <h5 class="card-title">Je veux être locataire</h5>
                                        <p class="card-text">Je souhaite trouver un garant.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container collapse" id="collaspeInv">
            <div class="row">
                <div class="logbox bg-white text-left">
                    <div class="row mb-4">
                        <div class="col-sm-12 text-center">
                            <span class="step s-active">Étape 1</span>  <span class="step">Étape 2</span>  <span class="step">Étape 3</span>
                        </div>
                    </div>

                        <h2 class="text-center">Informations générales</h2>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sf-firstname">Prénom</label>
                                <input type="text" class="form-control" id="sf-firstname" placeholder="Prénom">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-lastname">Nom</label>
                                <input type="text" class="form-control" id="sf-lastname" placeholder="Nom">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-date">Date de naissance</label>
                                <input type="date" class="form-control" id="sf-date" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-email">Email</label>
                                <input type="email" class="form-control" id="sf-email" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-pass">Mot de passe</label>
                                <input type="password" class="form-control" id="sf-pass" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-pass-confirm">Confirmation du mot de passe</label>
                                <input type="password" class="form-control" id="sf-pass-confirm" placeholder="">

                            </div>
                        </div>

                    <div class="form-row justify-content-end">
                        <a id="investor" class="click-sf" href="#"><button type="button" class="btn btn-primary">S'inscire</button></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container collapse" id="collaspeLoc">
            <div class="row">
                <div class="logbox bg-white text-left">
                    <div class="row mb-4">
                        <div class="col-sm-12 text-center">
                            <span class="step s-active">Étape 1</span>  <span class="step">Étape 2</span>
                        </div>
                    </div>
                        <h2 class="text-center">Informations générales</h2>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sf-firstname-loc">Prénom</label>
                                <input type="text" class="form-control" id="sf-firstname-loc" placeholder="Prénom">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-lastname-loc">Nom</label>
                                <input type="text" class="form-control" id="sf-lastname-loc" placeholder="Nom">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-date-loc">Date de naissance</label>
                                <input type="date" class="form-control" id="sf-date-loc" placeholder="">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="sf-email-loc">Email</label>
                                <input type="email" class="form-control" id="sf-email-loc" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-password-loc">Mot de passe</label>
                                <input type="password" class="form-control" id="sf-pass-loc" placeholder="Mot de passe">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sf-password-confirm-loc">Confirmation du mot de passe</label>
                                <input type="password" class="form-control" id="sf-pass-confirm-loc" placeholder="Confirmation du mot de passe">
                            </div>


                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="sf-relation-loc">Je vis en tant que...</label>
                                <select class="custom-select my-1 mr-sm-2" id="sf-relation-loc">
                                    <option selected value="0">Célibataire</option>
                                    <option value="1">Marié</option>
                                    <option value="2">Divorcé</option>
                                    <option value="3">Pacsé</option>
                                    <option value="4">Veuf</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="sf-status-loc">Quelle est votre situation professionnelle ?</label>
                                <select class="custom-select my-1 mr-sm-2" id="sf-status-loc">
                                    <option selected value="0">Étudiant</option>
                                    <option value="2">Salarié</option>
                                    <option value="3">Alternant</option>
                                    <option value="4">Au chômage</option>
                                    <option value="5">Autre...</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6 ifsalarie">
                                <label class="my-1 mr-2" for="sf-worktype-loc">Quel type de contrat avez-vous ?</label>
                                <select class="custom-select my-1 mr-sm-2" id="sf-worktype-loc">
                                    <option selected value="0">CDD</option>
                                    <option value="1">CDI</option>
                                    <option value="2">Autre..</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="sf-child-loc">Combien de personnes avez-vous à votre charge ?</label>
                                <select class="custom-select my-1 mr-sm-2" id="sf-child-loc">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2 et plus</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="sf-bail-loc">Combien de personnes sur le bail </label>
                                <select class="custom-select my-1 mr-sm-2" id="sf-bail-loc">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2 et plus</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="sf-rent-loc">Pour un loyer mensuel en euros de </label>
                                <input type="number" class="form-control my-1 mr-sm-2" id="sf-rent-loc" placeholder="Loyer mensuel">
                            </div>

                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="sf-qsp-loc">Vous avez entendu parler de QSP grâce à </label>
                                <select class="custom-select my-1 mr-sm-2" id="sf-qsp-loc">
                                    <option selected value="0">Un ami</option>
                                    <option value="1">Une exposition</option>
                                    <option value="2">Un site internet</option>
                                    <option value="3">Une recherche sur un moteur de recherche</option>
                                    <option value="4">Autre...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row justify-content-end">
                            <a id="tenant" class="click-sf" href="#"><button type="submit" class="btn btn-primary">S'inscire</button></a>
                        </div>
                </div>
            </div>
        </div>
        <div class="sf-form-hack">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
            <input class="btn btn-primary sf-form-send" type="submit" value="{{ 'registration.submit'|trans }}" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
