{% extends 'corps.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row header-standard">
        <div class="col-sm-12">
            <h1>Foire Aux Questions</h1>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <strong>Question ?</strong>
    <p>Réponse</p>
    <strong>Question ?</strong>
    <p>Réponse</p>
    <strong>Question ?</strong>
    <p>Réponse</p>
    <strong>Question ?</strong>
    <p>Réponse</p>
    <strong>Question ?</strong>
    <p>Réponse</p>
</div>

{% endblock %}