{% extends 'corps.html.twig' %}

{% block body %}


<!-- HEADER LP-->

<div class="lp_header container-fluid">
    <div class="row bg-header">
        <div class="col-md-6 col-sm-12 text-header bg-contain">
            <h1>QSP - Quick Security Protection</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="svg-shape d-none d-md-block">
            <svg viewBox="0 0 100 100" width="100%" height="100%" preserveAspectRatio="none"><polygon points="0,0 0,100 100,0" fill="white" stroke="none"></polygon></svg>
        </div>
    </div>
</div>


<!-- MidHeader -->
<div class="catchphrase container mt-5 mb-5 text-center">
    <p class="h2"><strong class="bold">QSP</strong> utilise l'épargne des français à but <strong>sociétal</strong> afin de <strong>garantir</strong> des mois de loyer pour des <strong>locataires</strong> qui font faces à des problèmes de solvabilité.</p>
</div>

<!-- Rubriques -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 mb-5 text-center">
            <h2>Comment marche QSP</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <!-- List group -->
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#investisseur" role="tab">Être Investisseur</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#locataire" role="tab">Être Locataire</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-4">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="investisseur" role="tabpanel">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="grid3img" src="img/mbappe.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis placeat porro animi ipsam sequi deleniti.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="grid3img" src="img/mbappe.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis placeat porro animi ipsam sequi deleniti.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="grid3img" src="img/mbappe.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis placeat porro animi ipsam sequi deleniti.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="locataire" role="tabpanel">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="grid3img" src="img/antoine.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis placeat porro animi ipsam sequi deleniti.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="grid3img" src="img/antoine.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis placeat porro animi ipsam sequi deleniti.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="grid3img" src="img/antoine.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis placeat porro animi ipsam sequi deleniti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Simulateur -->
<div class="container mt-5">

    <div class="row">
        <div class="col-lg-12 mb-5 text-center">
            <h2>Simulation</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <!-- List group -->
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#investissemnt" role="tab">Investissement</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#garantie" role="tab">Garantie</a>
            </div>
        </div>
    </div>


    <div class="tab-content mt-3">
        <div class="tab-pane" id="garantie" role="tabpanel">
            <div class="col-md-12">
                <form class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="InputLocataire">Mon besoin de garantie</label>
                        <input type="number" class="form-control" id="InputLocataire" placeholder="Besoin en euro">
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <em>Cout du service :</em>
                        </div>
                        <div class="centrer-bloc">
                            <span class="h1 simu_loc bold left">0</span><div><span class="euro">€</span><br>par<br>mois</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <em class="text-center">Coût des services : 5% </em>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mt-3">Je fais une demande</button>
                </form>
            </div>
        </div>


        <div class="tab-pane active" id="investissemnt" role="tabpanel">
            <div class="col-md-12">
                <form class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="InputInvestisseur">L'argent que je souhaite investir</label>
                        <input type="number" class="form-control" id="InputInvestisseur" placeholder="Montant en euro">
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <em>Gains estimés :</em>
                        </div>
                        <div class="centrer-bloc">
                            <span class="before_siminv">Jusqu'à</span><span class="h1 simu_inv bold left">0</span><div><span class="euro">€</span><br>par<br>mois</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <em>Gain sur montant investi : 4~8% (selon le risque du projet dans lequel vous investissez)</em>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mt-3">Je souhaite investir</button>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}