<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="index.html">
        <img src="img/QSP.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    À Propos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="actualites.html">Actualités</a>
                    <a class="dropdown-item" href="qui-sommes-nous.html">Qui sommes-nous ?</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="faq.html">F.A.Q.</a>
            </li>

            <li class="nav-item none-on-high">
                <a class="nav-link" href="inscription.html">S'inscrire</a>
            </li>
            <li class="nav-item none-on-high">
                <a class="nav-link" href="connexion.html">Se connecter</a>
            </li>
        </ul>
        <div class="right none-on-low">
            <a class="btn_c" href="inscription.html">S'inscrire</a>
            <a class="btn_c" href="connexion.html">Se connecter</a>
        </div>
    </div>
</nav>

<!-- HEADER -->

<div class="container-fluid">
    <div class="row header-standard">
        <div class="col-sm-12">
            <h1>Qui sommes-nous ?</h1>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 text-center">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, eligendi, dignissimos. Laudantium fugit excepturi reiciendis laboriosam voluptate sapiente nam culpa, eaque ratione nemo nesciunt explicabo minus dolor delectus ipsa, iste!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita magni voluptas repellat doloremque ipsam delectus natus nihil unde dicta rem dolores quisquam commodi dolorum quam, architecto. Id quia beatae, nihil.</p> <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laudantium repellat cumque aperiam, voluptatum optio maxime esse sit quo, distinctio veritatis temporibus commodi excepturi, ducimus deserunt quibusdam accusantium voluptatibus sequi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laudantium repellat cumque aperiam, voluptatum optio maxime esse sit quo, distinctio veritatis temporibus commodi excepturi, ducimus deserunt quibusdam accusantium voluptatibus sequi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laudantium repellat cumque aperiam, voluptatum optio maxime esse sit quo, distinctio veritatis temporibus commodi excepturi, ducimus deserunt quibusdam accusantium voluptatibus sequi?</p>
</div>

<div class=" mt-5 mb-5 text-center">
    <h2> Nous contacter ?</h2>

    <p class="text-center">Insérer un formulaire</p>
</div>






<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> QSP</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>