{% extends 'corps.html.twig' %}

{% block body %}
<!-- HEADER -->

<div class="container-fluid">
    <div class="row header-standard">
        <div class="col-sm-12">
            <h1>{{ article.title }}</h1>
        </div>
    </div>
</div>
<img class="card-img-top" src="{{ article.banner }}" alt="Card image cap">

<div class="container mt-5 mb-5 text-center">
    <p>{{ article.corps }}</p>
</div>

{% endblock %}