<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index.html">
            <img src="img/QSP.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        À Propos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="actualites.html">Actualités</a>
                        <a class="dropdown-item" href="qui-sommes-nous.html">Qui sommes-nous ?</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">F.A.Q.</a>
                </li>

                <li class="nav-item none-on-high">
                    <a class="nav-link" href="inscription.html">S'inscrire</a>
                </li>
                <li class="nav-item none-on-high">
                    <a class="nav-link" href="connexion.html">Se connecter</a>
                </li>
            </ul>
            <div class="right none-on-low">
                <a class="btn_c" href="inscription.html">S'inscrire</a>
                <a class="btn_c" href="connexion.html">Se connecter</a>
            </div>
        </div>
    </nav>


    <!-- HEADER -->

    <div class="container-fluid header-log">
        <div class="row ">
            <div class="col-sm-12">
                <h1>Inscription Locataire</h1>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="logbox bg-white text-left">
                    <div class="row mb-4">
                        <div class="col-sm-12 text-center">
                            <span class="step s-ex-active">Étape 1</span>  <span class="step s-active">Étape 2</span>
                        </div>
                    </div>
                    <h2 class="text-center mb-3">C'est presque fait !</h2>
                    <div class="row">
                        <p class="text-center">Veuillez confirmer votre inscription grâce au mail envoyé sur votre boite mail. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>